@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: "Gotham Book", sans-serif;
}

/* Adding scroll snap properties */
.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-snap-section {
  scroll-snap-align: start;
  height: 100vh;
}
