@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: "Gotham Book", sans-serif;
  outline-offset: 2px;
}

.underline-offset {
  text-underline-offset: 3px;
}


html {
  scroll-behavior: smooth;
}

/* Adding scroll snap properties */
.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  /* pointer-events: none; This allows for the sceoll.snap to work on solar roof/panels  */
}

.scroll-snap-section {
  scroll-snap-align: start;
  height: 100vh;
}

/* Menu Popup */

.transition-all-slow {
  transition: transform .5s ease, opacity .5s ease;
}

/* Fix for the scroll behavior past Experience Tesla Section */

.absolute.z-20 {
  pointer-events: none;
}

.absolute.z-20 > * {
  pointer-events: auto;
}
/* Details:
- Modified the CSS for the `.absolute.z-20` class to include `pointer-events: none;`. This change ensures that the overlay element itself does not capture or respond to mouse/touch events, effectively making it 'transparent' to user interactions.
- Added a CSS rule for `.absolute.z-20 > *` with `pointer-events: auto;` to reset the pointer events for all direct children of the overlay. This ensures that while the overlay is transparent to mouse events, all of its child elements (such as buttons or links) remain interactive and responsive to user interactions.
- The combined effect of these changes is to improve the user experience by allowing elements underneath the overlay (like the NavBar) to be accessible and clickable, while still preserving the interactivity of any elements on the overlay itself. */
