@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: "Gotham Book", sans-serif;
  outline-offset: 2px;
}

/* Adding scroll snap properties */
.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.scroll-snap-section {
  scroll-snap-align: start;
  height: 100vh;
}

/* Dropdown */

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.models-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.dropdown-bg {
  width: 100%;
  height: 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  @apply bg-white bg-opacity-75
  
}

.dropdown-bg.show {
  height: 60%;
}

.text-black {
  color: black ;
}

.invert-logo {
  filter: invert(1);
}



