@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: "Gotham Book", sans-serif;
}

.snap {
  scroll-snap-type: y mandatory;
}
.snap-y {
  scroll-snap-type: y;
}
.snap-mandatory {
  scroll-snap-align: start;
}
