@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

* {
  font-family: "Gotham Book", sans-serif;
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
}

/* Adding scroll snap properties */
.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  /* pointer-events: none; This allows for the sceoll.snap to work on solar roof/panels  */
}

.scroll-snap-section {
  scroll-snap-align: start;
  height: 100vh;
}

/* Menu Popup */

.transition-all-slow {
  transition: transform .5s ease, opacity .5s ease;
}

.NavBar {
  z-index: 100;
}
